{% load i18n static %}
{% firstof page_title object.title request.site.page_title as title %}
{% firstof page_keywords object.keywords request.site.page_keywords as keywords %}
{% firstof page_description object.description request.site.page_description as description %}
{% static 'css/pygments_default.css' as light_pygments_css %}
{% static 'css/pygments_monokai.css' as dark_pygments_css %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"
      dir="ltr"
      x-data="{'dark_theme' : $persist(true), 'open_language_modal' : false, }"
      x-bind:data-theme="dark_theme ? 'dark' : 'light' ">
  <head>
    <title>
      {% block head_title %}
        {{ title }}
      {% endblock head_title %}
    </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% url 'favicon' %}" />
    <link rel="apple-touch-icon" href="{% url 'favicon' %}" />
    <!-- meta tags -->
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="all" />
    <meta name="REVISIT-AFTER" content="7 days" />
    <meta name="KEYWORDS" content="{{ keywords }}" />
    <meta name="DESCRIPTION" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- mobile related meta tags -->
    <meta name="application-name" content="{{ title }}" />
    <meta name="apple-mobile-web-app-title" content="{{ title }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- OG meta tags-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'favicon' %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="{{ description }}" />
    <!-- twitter meta tags -->
    <meta name="twitter:url"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'favicon' %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <!-- css -->
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/rb.css' %}" rel="stylesheet" />
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" />
    <link href="{% static request.site.picocss_static_file %}" rel="stylesheet" />
    {% if request.client.dark_theme %}
      <link href="{{ dark_pygments_css }}" rel="stylesheet" />
    {% else %}
      <link href="{{ light_pygments_css }}" rel="stylesheet" />
    {% endif %}
    {% block head_extra %}{% endblock %}
  </head>
  <body class="container" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
      {% include "snippets/messages.html" %}
      {% include "menus/navbar.html" %}
    </header>
    <main {% if request.path_info|slice:"0:9" == "/allauth/" %}class="offset-md-3 col-md-6"{% endif %}>
      {% block content %}
      {% endblock content %}
    </main>
    <section>
      {% include "modals/language.html" %}
    </section>
    <footer>
      {% include "menus/footer.html" %}
    </footer>
    {% block extra_body %}
    {% endblock extra_body %}
    <!-- js -->
    <script defer src="{% static 'js/htmx.js' %}"></script>
    <script defer src="{% static 'js/htmx-ext-ws.js' %}"></script>
    <script defer src="{% static 'js/hyperscript.js' %}"></script>
    <script defer src="{% static 'js/cropper.js' %}"></script>
    <script defer src="{% static 'js/alpine_persist.js' %}"></script>
    <script defer src="{% static 'js/alpine.js' %}"></script>
    <script defer src="{% static 'js/sortable.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
