{% if question.type == 1 %}
  <p>
    {% if question.text_one %}{{ question.text_one }}{% endif %}
    <strong><u>{{ correct_answer_one }}</u></strong>
    {% if question.text_two %}{{ question.text_two }}{% endif %}
  </p>
{% elif question.type == 2 %}
  <p>
    {% if question.text_one %}{{ question.text_one }}{% endif %}
    <strong><u>{{ correct_answer_one }}</u></strong>
    {% if question.text_two %}{{ question.text_two }}{% endif %}
    <strong><u>{{ correct_answer_two }}</u></strong>
    {% if question.text_three %}{{ question.text_three }}{% endif %}
  </p>
{% elif question.type == 5 %}
  <p>{{ question.text_one }}</p>
  {% if question.text_two %}<p>{{ question.text_two }}</p>{% endif %}
  {% if question.text_three %}<p>{{ question.text_three }}</p>{% endif %}
{% endif %}
{% if question.type == 5 %}
  {% for answer in question.answer_set.all %}
    <p>
      {% if answer.correct %}
        ✅
      {% else %}
        ⚪
      {% endif %}
      {{ answer.name }}
    </p>
  {% endfor %}
{% endif %}
<strong>{{ correct_message }}</strong>
{% if question.explanation %}<p>{{ question.explanation }}</p>{% endif %}
{% include "quiz/partials/check_or_next_button.html" %}
