[submodule "submodules/articles"]
	path = submodules/articles
	url = git@github.com:ramibch/articles.git
  branch = main
  ignore = dirty

[submodule "submodules/products"]
	path = submodules/products
	url = git@github.com:ramibch/products.git
  branch = main
  ignore = dirty


[submodule "submodules/test-articles"]
	path = submodules/test-articles
	url = git@github.com:ramibch/test-articles.git
  branch = main
  ignore = dirty

[submodule "submodules/test-products"]
	path = submodules/test-products
	url = git@github.com:ramibch/test-products.git
  branch = main
  ignore = dirty
