# Django and third-party apps
django
django-auto-prefetch
django-cleanup
django-extensions
django-rosetta
django-o365mail
django-modeltranslation
django-upgrade
django-markdownx
pillow
huey
redis

# Management
python-dotenv
gunicorn
ipython

# Testing and faking data
coverage[toml]
factory-boy

# Code formatting
black
pyclean
isort
ruff
djade
djlint
