# Django and third-party apps
django
django-auto-prefetch
django-cleanup
django-extensions
django-rosetta
django-o365mail
django-modeltranslation
django-upgrade
django-markdownx
django-storages
django_htmx
django-templated-email-md
django-allauth[socialaccount]
boto3
pillow
huey
redis
geoip2

# Management
python-dotenv
gunicorn
ipython

# Testing and faking data
coverage[toml]
factory-boy

# Code formatting
black
pyclean
isort
ruff
djade
djlint
