{% extends "base.html" %}
{% load cache markdownify static %}
{% block content %}
  {% cache 1 article article.id %}
    <section><h1>{{ object.display_title }}</h1></section>
    <section id="article-body">{{ object.display_body|markdownify }}</section>
  {% endcache %}
{% endblock content %}

{% if object.has_equations %}
  {% block extra_js %}
    <script type="text/javascript" id="MathJax-script" nonce="{{ request.csp_nonce }}" async src='{% static "js/tex-mml-chtml.js" %}'> </script>
    <script type="text/x-mathjax-config" nonce="{{ request.csp_nonce }}" src='{% static "js/mathjax-config.js" %}'></script>
  {% endblock extra_js %}
{% endif %}
