{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-5">{{ object.title }}</h1>
  <center>
    <img src="{{ object.img_url }}" alt="{{ object.title }}">
  </center>
  <form method="post"
        action="{{ object.check_url }}"
        hx-boost="true"
        class="mb-5">
    <fieldset>
      <div>
        <input type="radio" id="optionA" name="selected_option" value="a" />
        <label for="optionA">{{ object.option_a }}</label>
      </div>
      <div>
        <input type="radio" id="optionB" name="selected_option" value="b" />
        <label for="optionB">{{ object.option_b }}</label>
      </div>
      <div>
        <input type="radio" id="optionC" name="selected_option" value="c" />
        <label for="optionC">{{ object.option_c }}</label>
      </div>
    </fieldset>
    {% csrf_token %}
    <center>
      <button type="submit">Siguiente</button>
    </center>
  </form>
{% endblock content %}
