{% extends "base.html" %}

{% load i18n %}


{% block content %}

<center>
  <h1 class="my-5"> {% trans "Holidays" %}:  {{ object.title }}  {{ object.year }}</a></h1>
</center>

  <ul>
    {% for date,name in object.country_holidays %}
    <li> {{ date }} : {{ name }} </li>
    {% endfor %}
  </ul>
  <center>
    <img class="my-5" src="{{ object.image.url }}" alt="{{ object.title }}">
    <a class="my-5" role="button" href="{{ object.pdf.url }}" download>{% trans "Download" %}</a>
  </center>

  {% if related_calendars %}
  <center>
    <h2>{% trans "Related calendars" %}</h2>
  </center>
  {% endif %}
  {% for rel in object.related_objects %}
  <div class="col-md-4">
    <a href="{{ rel.get_absolute_url }}">
    <article>
      <header> {{ rel.title }} </header>
        <img  src="{{ rel.image.url }}" alt="{{ rel.title }}">
      </article>
    </a>
  </div>
  {% endfor %}


{% endblock content %}
