{% load cache i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="ltr" data-theme="light">
    <head>
        <title>
            {% block head_title %}{{ page_title }}{% endblock %}
        </title>
        <!-- favicon -->
        <link rel="shortcut icon" href="{% url 'favicon' %}" />
        <link rel="apple-touch-icon" href="{% url 'favicon' %}" />
        <!-- meta tags -->
        <meta charset="utf-8" />
        <meta name="ROBOTS" content="all" />
        <meta name="REVISIT-AFTER" content="7 days" />
        <meta name="KEYWORDS" content="{{ page_keywords }}" />
        <meta name="DESCRIPTION" content="{{ page_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- mobile related meta tags -->
        <meta name="application-name" content="{{ page_title }}" />
        <meta name="apple-mobile-web-app-title" content="{{ page_title }}" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- OG meta tags-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ page_title }}" />
        <meta property="og:image"
              content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'favicon' %}" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:description" content="{{ page_description }}" />
        <!-- twitter meta tags -->
        <meta name="twitter:url"
              content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'favicon' %}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ page_title }}" />
        <meta name="twitter:description" content="{{ page_description }}" />
        <!-- css -->
        <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/pico.css' %}" rel="stylesheet" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        {% block head_extra %}{% endblock %}
    </head>
    <body>
        {% include "partials/navbar.html" %}
        <main class="container" x-data="{dgt_clicks : $persist(0) }">
            {% block content %}{% endblock %}
        </main>
        {% include "base_partials/modals.html" %}
        {% include
        "base_partials/footer.html" %}
        <!-- js -->
        <script src="{% static 'js/htmx.js' %}"></script>
        <script src="{% static 'js/alpine-persist.js' %}"></script>
        <script src="{% static 'js/alpine.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
