{% extends "base.html" %}
{% load cache i18n markdownify static %}

{% block content %}

<center>
  <h1> {% translate "Jobs" %} </h1>
</center>

<div class="row">

  {% for job in object_list %}
  <div class="col-md-4">
    <article >
      💼 <a href="{{ job.url }}"> {{ job.title }} </a>
    </article>
  </div>
  {% endfor %}
</div>


<center class="pagination">
  <span>
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <span class="current"><strong>{{ num }}</strong></span>
      {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
  </span>
</center>



{% endblock content %}
