<div hx-get="{% url 'chat_messages' chat.name %}"
     hx-trigger="every 1s"
     hx-swap="outerHTML">
  {% for message in chat_messages %}
    <div id="chat-message-{{ message.id }}">
      <p>
        {% if message.user == user %}
          <div x-data="{'actions' : false }"
               x-on:mouseenter="actions = true"
               x-on:mouseleave="actions = false">
            <div x-show="actions">
              <span style="cursor: pointer"
                    hx-delete="{{ message.delete_url }}"
                    hx-target="#chat-message-{{ message.id }}"
                    hx-swap="outerHTML">🗑️</span>
            </div>
          </div>
        {% endif %}
        <b>[<i>{{ message.time }}</i>] {{ message.user.display_name }}</b>: {{ message.body | linebreaks }}
      </p>
      <br>
      {% if message.first_in_the_day %}
        <center>
          {{ message.created_at|date:"SHORT_DATE_FORMAT" }}
          <hr />
        </center>
      {% endif %}
    </div>
  {% endfor %}
</div>
