{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="offset-md-3 col-md-6" dir="ltr">
    {% url 'account_email' as email_url_ %}
    {% if email_url_ %}
        <a class="mt-3 w-100" role="button" href="{{ email_url_ }}"><i class="bi bi-envelope"></i> {% translate "Change Email" %}</a>
    {% endif %}
    {% url 'account_change_password' as change_password_url_ %}
    {% if change_password_url_ %}
        <a class="mt-3 w-100" role="button" href="{{ change_password_url_ }}"><i class="bi bi-incognito"></i> {% translate "Change Password" %}</a>
    {% endif %}
    {% url 'socialaccount_connections' as connections_url_ %}
    {% if connections_url_ %}
        <a class="mt-3 w-100" role="button" href="{{ connections_url_ }}"><i class="bi bi-diagram-2"></i> {% translate "Account Connections" %}</a>
    {% endif %}
    {% url 'mfa_index' as mfa_url_ %}
    {% if mfa_url_ %}
        <a class="mt-3 w-100" role="button" href="{{ mfa_url_ }}"><i class="bi bi-key"></i> {% translate "Two-Factor Authentication" %}</a>
    {% endif %}
    {% url 'usersessions_list' as usersessions_list_url_ %}
    {% if usersessions_list_url_ %}
        <a class="mt-3 w-100" role="button" href="{{ usersessions_list_url_ }}"><i class="bi bi-pc-display"></i> {% translate "Sessions" %}</a>
    {% endif %}
    {% url 'account_logout' as logout_url_ %}
    {% if logout_url_ %}
      <a class="mt-3 w-100 outline" role="button" href="{{ logout_url_ }}"><i class="bi bi-arrow-right-circle"></i> {% translate "Sign Out" %}</a>
    {% endif %}

    <a class="mt-3 w-100 outline" role="button"
      hx-delete="{% url 'account_delete' %}"
      hx-confirm="{% translate 'Are you sure to delete your account?' %}"
      ><i class="bi bi-trash"></i> {% translate "Delete account" %}
    </a>

  </div>
{% endblock content %}
