{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sites" %}{% endblock head_title %}

{% block content %}
<center><h1>{% trans "Sites" %}</h1></center>
<div class="row mt-5">
{% for obj in object_list %}
  <div class="col-md-4">
    <article>
      <h3>{{ obj.display_brand }}</h3>
      {% if obj.description %}{{ obj.description }}{% endif %}
      <footer>
        {% if request.get_host == obj.domain %}
          {% trans "Current site!" %}
        {% else %}
        <a href="{{ obj.url }}" target="_blank"  {% if obj.title %}title="{{ obj.title }}"{% endif %}>🔗 {{ obj.url }}</a>
        {% endif %}
      </footer>
    </article>
  </div>
{% endfor %}
</div>

{% endblock content %}
