{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% translate "Privacy policy" %}{% endblock %}

{% block content %}

<h1 style="text-align: center;">{% translate "Privacy policy" %}</h1>

<h2>{% translate "The Site and Service" %}</h2>

<p>
  {% translate "The current site informs you, as user or visitor of it, of its policies regarding the collection, use and disclosure of Personal Information it may receive from you." %}
</p>
<p>
  {% translate "The gathered Information may be only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy." %}
</p>

<h2>{% translate "Data Responsable" %}</h2>

<p>{% translate "Legal Name" %}: Rami Boutassghount</p>
<p>{% translate "Address" %}: Schwarztorstrasse 36, 3007 Bern</p>
<p>{% translate "E-mail" %}: me@ramib.ch</p>

<h2>{% translate "Information Collection and Use" %}</h2>

<p>{% translate "While using our Site, you may have to provide us with certain personally identifiable information that can be used to contact you if you get in touch with us. Personally identifiable information may include but is not limited to your name and email address (Personal Information)." %}</p>

<h2>{% translate "Cookies" %}</h2>
<p>{% translate "Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your computer's hard drive." %}</p>

<p>{% translate "This site uses these cookies to collect information. You can adjust your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of the Site." %}</p>


<h2>{% translate "" %}</h2>

<h2>{% translate "Security" %}</h2>
<p>{% translate "The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we follow the recommended and standard development guides for Web Development to protect your Personal Information, we cannot guarantee its absolute security. The Site is developed with Django (Python Web Framework), check out its security features:" %} https://docs.djangoproject.com/{{ LANG_CODE }}/stable/topics/security/</p>
<h2>{% translate "Changes To This Privacy Policy" %}</h2>

{% translate "This site may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this current page. You are advised to review this Privacy Policy periodically for changes." %}

<h2>{% translate "Contact Us" %}</h2>
<p>{% translate "If you have any questions about this Privacy Policy, please contact me:" %}</p>

<ul>
  <li><a href="{% url 'contact' %}">{% translate "Contact form" %}</a></li>
  <li><a href="mailto:{{ request.site.brand_email_sender.address }}">{% translate "E-mail" %}</a></li>
</ul>


{% endblock content %}
