{% extends "base.html" %}
{% load i18n static %}
{% block content %}
  <h1 class="text-center">{{ object.title }}</h1>

  <div x-data="{salt: '', in_str : '', show_salt : false, copy_clicked : false, out : '', update() { if (this.show_salt){ this.out = md5(this.in_str);}{this.out = md5(this.salt+this.in_str);} } }"
       x-init="update();"
       class="grid">
    <div class="g-col-6">
      <article>
        <header>
          <h2>{% translate "Input data" %}</h2>
        </header>
        <label for="in_strInput">{% translate "String input" %}</label>
        <input id="in_strInput"
               type="text"
               x-model="in_str"
               x-on:keyup="copy_clicked = false; update();"
               placeholder="{% translate "Your string input" %}" />
        <div x-show="show_salt" x-transition>
          <label for="saltInput">{% translate "Secret key (salt)" %}</label>
          <input id="saltInput"
                 type="text"
                 x-model="salt"
                 x-on:keyup="copy_clicked = false; update();"
                 placeholder="{% translate "Your arbitrary secret key" %}" />
        </div>
        <button x-on:click="show_salt = !show_salt; copy_clicked = false; if(!show_salt){salt=''}; update()"
                x-text="show_salt ? '{% translate "Remove salt" %}' : '{% translate "Add salt" %}' "></button>
        <footer>
          <small>{% include "tools/partials/no_data_storage.txt" %}</small>
        </footer>
      </article>
    </div>
    <div class="g-col-6">
      <article>
        <header>
          <h2>{% translate "Results" %}</h2>
        </header>
        <p x-text="out"></p>
        <footer>
          <button x-on:click="navigator.clipboard.writeText(out); copy_clicked = true"
                  x-text="copy_clicked ?  '🙂 {% translate "Copied!" %}' : '📋 {% translate "Copy" %}'"></button>
        </footer>
      </article>
    </div>
  </div>
  {% include "tools/partials/body_md.html" %}

  {% include "tools/partials/feedback.html" %}
  {% include "tools/partials/related_tools.html" %}
{% endblock content %}

{% block extra_js %}
  <script nonce="{{ request.csp_nonce }}" src='{% static "js/md5-tool.js" %}'></script>
{% endblock extra_js %}
