{% extends 'base.html' %}
{% load i18n humanize static %}
{% block content %}
  <section>
    <h1>
      <center> {{ object.title }}</center>
    </h1>
  </section>
  {% if object.related_products %}
    <!-- Products -->
    <section class="row mb-2">
      <h2>🎁 {% trans "Products" %}</h2>
      {% for product in object.related_products %}
        <div class="col-md-4">
          <article>
            <h3>
              <a href="{{ product.page_url }}" title="{{ product.title }}">{{ product.title }}</a>
            </h3>
            <a href="{{ product.page_url }}">
              <img src="{{ product.image.url }}" alt="{{ product.title }}">
            </a>
          </article>
        </div>
      {% endfor %}
    </section>
  {% endif %}
  {% if object.related_articles %}
    <!-- Articles -->
    <section class="row mb-2">
      <h2>✍ {% trans "Articles" %}</h2>
      {% for article in object.related_articles %}
        <div class="col-md-4">
          <article>
            <h3>
              <a href="{{ article.page_url }}" title="{{ article.title }}">{{ article.title }}</a>
            </h3>
            <footer>
              {{ article.created_on |naturaltime }}
            </footer>
          </article>
        </div>
      {% endfor %}
    </section>
  {% endif %}
  {% if object.related_mobile_apps %}
    <!-- Mobile Apps -->
    <section class="row">
      <h2>📱 {% trans "Mobile Apps" %}</h2>
      {% for app in object.related_mobile_apps %}
        <div class="col-md-4">
          <article>
            <h3>
              <img src="{{ app.icon.url }}" width="10%" alt="icon" />
              <a href="{{ app.detail_url }}" title="{{ app.title }}">{{ app.title }}</a>
            </h3>
            <footer>
              {{ app.subtitle }}
            </footer>
          </article>
        </div>
      {% endfor %}
    </section>
  {% endif %}
  {% if object.related_telegram_groups %}
    <!-- Telegram groups -->
    <section class="row">
      <h2>💬 {% trans "Subscribe to my Telegram groups" %}</h2>
      {% for telegram_group in object.related_telegram_groups %}
        <div class="col-md-4">
          <article>
            <a href="{{ telegram_group.url }}" class="row" target="_blank">
              <div class="col-3">
                <img src="{{ telegram_group.image.url }}" alt="{{ telegram_group.name }}">
              </div>
              <div class="col-9">
                <i class="bi bi-telegram"></i> {{ telegram_group.name }}
              </div>
            </a>
          </article>
        </div>
      {% endfor %}
    </section>
  {% endif %}
{% endblock content %}
