{% extends "base.html" %}
{% load i18n humanize %}
{% block head_title %}
  {% translate "Profiles" %}
{% endblock head_title %}
{% block content %}
  <center>
    <h1>{% translate "Profiles" %}</h1>
  </center>
  <div class="grid mt-5">
    {% for profile in profiles %}
      <article id="p_{{ profile.pk }}">
        <header>
          <span style="cursor: pointer;
                       float: right"
                hx-post="{{ profile.delete_object_url }}"
                hx-target="#p_{{ profile.pk }}"
                hx-confirm="{% translate 'Are you sure to delete this profile?' %}"
                hx-swap="outerHTML"
                data-tooltip="{% translate 'Delete' %}">🗑️</span>
          <h2>
            <a href="{{ profile.update_url }}" data-tooltip="{% translate 'Edit' %}">✏️ {{ profile.show_fullname }}</a>
          </h2>
        </header>
        {% if profile.jobtitle %}👤{{ profile.jobtitle }}{% endif %}
        {% if profile.location %}📍{{ profile.location }}{% endif %}
        🗓️{{ profile.updated|naturaltime }}
      </article>
    {% endfor %}
  </div>
  <!-- New profile -->
  <center class="mt-5">
    <h2>
      <a hx-boost="true"
         href="{% url 'profile_create' %}"
         hx-push-url="{% url 'profile_list' %}">➕ {% translate "Create a new profile" %}</a>
    </h2>
  </center>
{% endblock content %}
