<fieldset>
  <div class="grid">
    <label>
        {% if is_new_form %} <small>{{ education_form.title.label_tag }}</small> {% endif %}
        {{ education_form.title }}
    </label>
    <label>
      {% if is_new_form %} <small>{{ education_form.institution.label_tag }}</small> {% endif %}
      {{ education_form.institution }}
    </label>
  </div>
  <div class="grid"
  x-data="{ endDate: {{ education_form.instance.x_data_end_date }}, studyingNow : {{ education_form.instance.x_data_studying_now }} }"
  >
    <label>
      {% if is_new_form %} <small>{{ education_form.start_date.label_tag }}</small> {% endif %}
      {{ education_form.start_date }}
    </label>
    <label>
      {% if is_new_form %} <small>{{ education_form.end_date.label_tag }}  </small> {% endif %}
      {{ education_form.end_date }}
    </label>
    <label>
      <center>
        <small>{{ education_form.studying_now.label_tag }}</small>
        {{ education_form.studying_now }}
      </center>
    </label>
  </div>
  <div>
    {% if is_new_form %} <small>{{ education_form.description.label_tag }}</small> {% endif %}
    {{ education_form.description }}
  </div>
</fieldset>
