{% load i18n %}
<form
  hx-post="{{ candidate.hx_create_experience_url }}"
  hx-trigger="submit"
  hx-swap="beforeend"
  hx-target="#experience_edit_list"
  hx-on::after-request="if(event.detail.successful) this.reset()"
  id="experience_new_form"
>
  <small class="text-center"><i class="bi bi-mortarboard"></i> <i>{% translate "Add a new work experience" %}</i></small>
  {% include "candidates/partials/experience_form_content.html" with experience_form=experience_new_form is_new_form=True %}
  <button type="submit" class="outline"> <i class="bi bi-plus-circle-fill"></i> </button>
</form>
