<fieldset>
  <div class="grid">
    <label>
      {% if is_new_form %} <small>{{ experience_form.job_title.label_tag }}</small> {% endif %}
      {{ experience_form.job_title }}
    </label>
    <label>
      {% if is_new_form %} <small>{{ experience_form.company_name.label_tag }}</small> {% endif %}
      {{ experience_form.company_name }}
    </label>
  </div>
  <div class="grid"
  x-data="{ endDate: {{ experience_form.instance.x_data_end_date }}, hereNow : {{ experience_form.instance.x_data_here_now }} }"

  >
    <label>
      {% if is_new_form %} <small>{{ experience_form.start_date.label_tag }}</small> {% endif %}
      {{ experience_form.start_date }}
    </label>
    <label x-show="hereNow !== true ">
      {% if is_new_form %} <small>{{ experience_form.end_date.label_tag }}  </small> {% endif %}
      {{ experience_form.end_date }}
    </label>
    <label x-show="endDate === ''" >
      <center>
        <small>{{ experience_form.here_now.label_tag }}</small>
        {{ experience_form.here_now }}
      </center>
    </label>
  </div>
  <div>
    {% if is_new_form %} <small>{{ experience_form.description.label_tag }}</small> {% endif %}
    {{ experience_form.description }}
  </div>
</fieldset>
