{% load i18n %}
<form
  class="sortable-item "
  data-id="{{ skill_edit_form.instance.id }}"
  onsubmit="event.preventDefault();"
  hx-post="{{ skill_edit_form.instance.hx_edit_url }}"
  hx-trigger="change, keyup changed delay:1000ms"
  hx-swap="outerHTML"
  hx-target="closest form"
>
  <fieldset role="group">
    <div x-show="showSkillSort | showSkillDelete">
      <button x-show="showSkillSort"
          x-data="{hover : false }" x-on:mouseover="hover = true" x-on:mouseleave="hover = false"
          x-bind:class="hover? 'no-border handle' : 'no-border outline handle'"
          >
        <i class="bi bi-list"></i>
      </button>
      <button x-show="showSkillDelete"
          title="{% translate 'Delete' %}"
          x-data="{hover : false }" x-on:mouseover="hover = true" x-on:mouseleave="hover = false"
          x-bind:class="hover? 'no-border' : 'no-border outline'"
          hx-delete="{{ skill_edit_form.instance.hx_delete_url }}"
          hx-confirm="{% translate 'Are you sure to delete this skill?' %}"
          hx-target="closest form"
          hx-trigger="click"
          hx-swap="delete"
          >
        <i class="bi bi-trash"></i>
      </button>
    </div>

    <div role="group">
      <label>
        {{ skill_edit_form.name }}
        <!--
        Implement this?
          {% if not skill_edit_form.instance.name %}
          <small class="mt-2">{{ skill_edit_form.instance.candidate.language }}: {{ skill_edit_form.instance.main_name }} </small>
          {% endif %}
        -->
      </label>
      <label>

        {{ skill_edit_form.skill_type }}
      </label>
      <label>

        {{ skill_edit_form.level }}
      </label>
    </div>

  </fieldset>

  {% include "candidates/partials/section_being_saved.html" %}

  <input type="hidden" name="order" value="{{ skill_edit_form.instance.id }}">
</form>
