{% extends "base.html" %}
{% load humanize i18n %}
{% block content %}
  <!-- Hero section -->
  {% if object.herosection %}
    {% with section=object.herosection %}
      <section class="row mt-5">
        <div class="col-md-6">
          <h1>{{ section.headline|linebreaks }}</h1>
          <p class="mt-3">{{ section.subheadline|linebreaks }}</p>
          <center>
            <a {% if section.cta_new_tab %}target="_blank"{% endif %}
               href="{{ section.cta_link.url }}?ref=homeherocta"
               role="button"
               {% if section.card_animation %}
               {% include "snippets/animation_attrs.html" with html_class="button mt-5" animation=section.cta_animation %}
               {% else %}
               class="button mt-5"
               {% endif %}
               >{{ section.display_cta_title }}</a>
          </center>
        </div>
        <div class="col-md-6 ">
          <img src="{{ section.image.url }}" alt="{{ section.image.alt }}">
        </div>
      </section>
    {% endwith %}
  {% endif %}
  <!-- Last articles -->
  {% if object.articlessection %}
    {% with section=object.articlessection %}
      <section class="row mt-5">
        <h2>
          ✍ {{ section.title }} <span style="float: right;"> <a href="{% url 'article_list' %}">{% translate "All" %}</a> </span>
        </h2>
        {% for article in section.get_articles %}
          <div class="col-md-4">
            <article {% if section.card_animation %} {% include "snippets/animation_attrs.html" with animation=section.card_animation %} {% endif %}>
              <h3>
                <a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
              </h3>
              {% if article.description %}{{ article.description }}{% endif %}
              <footer>
                {{ article.created_on|naturaltime }}
              </footer>
            </article>
          </div>
        {% endfor %}
      </section>
    {% endwith %}
  {% endif %}
{% endblock content %}
