{% extends "base.html" %}

{% load i18n %}


{% block content %}

  <h1 class="text-center my-5"> {% translate "Holidays" %}:  {{ object.title }}  {{ object.year }}</a></h1>

  <ul>
    {% for date,name in object.country_holidays %}
    <li> {{ date }} : {{ name }} </li>
    {% endfor %}
  </ul>
  <center>
    <img class="my-5" src="{{ object.image.url }}" alt="{{ object.title }}">
    <a class="my-5" role="button" href="{{ object.pdf.url }}" download>{% translate "Download" %}</a>
  </center>

  {% if related_calendars %}
    <h2 class="text-center">{% translate "Related calendars" %}</h2>
    <div class="row">
      {% for rel in object.related_objects %}
      <div class="col-md-4">
        <a href="{{ rel.get_absolute_url }}">
          <article>
            <header> {{ rel.title }} </header>
            <img  src="{{ rel.image.url }}" alt="{{ rel.title }}">
          </article>
        </a>
      </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock content %}
