{% load i18n %}
<footer >
  <div class="container row">


    {% for item  in footer_items %}
    <aside {% if footer_items.count == 3 %}class="col-md-4" {% else %} class="col-md-3" {% endif %} >
      <p>
        <strong> {% if item.emoji %} {{ item.emoji }} {% endif %} {{ item.title }}</strong>
      </p>
      <nav>
        <ul>
          {% for link in item.pagelink_set.all %}
          <li>
            <a href="{{ link.url }}" {% if link.new_tab %}target="_blank"{% endif %}   >{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
    {% endfor %}


    <center class="mt-4">
      <small>
        <i>&copy; <span x-text="new Date().getFullYear()"></span> {{ website.name }}</i>
      </small>
    </center>
  </div>
</footer>
