<nav>
  <ul>
    <li>
      <strong>
        <a href="/">{{ settings.WEBSITE_NAME }}</a>
      </strong>
    </li>
    <li>
      <a href="#">Link to add</a>
    </li>
  </ul>
  <ul>
    {% for category in nav_categories %}
      <li>
        <details class="dropdown">
          <summary>{{ category.name }}</summary>
          <ul dir="rtl">
            {% for nav_link in category.nav_links %}
              <li>
                <a href="{{ nav_link.url }}"
                   class="contrast"
                   {% if nav_link.new_tab %}target="_blank"{% endif %}>{{ nav_link.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endfor %}
    <li>
      <span style="cursor: pointer"
            x-on:click="theme_light = ! theme_light"
            x-text="theme_light ? '🌒' : '☀️' "></span>
    </li>
  </ul>
</nav>
