{% extends "base.html" %}
{% load i18n static %}
{% load markdown_extras %}
{% block content %}
  <div class="row">
    <div class="col-md-8" id="article-body">
      <h1>{{ object.title }}</h1>
      {{ object.body | markdown | safe }}
      {% include "partials/author_profile.html" %}
    </div>
    <div class="col-md-4">
      <!-- Product pages -->
      {% for listing_product in object.related_listing_products %}
        <article>
          <header>
            <a href="{{ listing_product.page_url }}"
               title="{{ listing_product.title }}">{{ listing_product.title }}</a>
          </header>
          <a href="{{ listing_product.page_url }}">
            <img src="{{ listing_product.image.url }}"
                 alt="{{ listing_product.title }}">
          </a>
        </article>
      {% endfor %}
      <!-- Telegram groups -->
      {% for telegram_group in object.related_telegram_groups %}
        <article>
          <a href="{{ telegram_group.url }}" class="row">
            <div class="col-3">
              <img src="{{ telegram_group.image.url }}" alt="{{ telegram_group.name }}">
            </div>
            <div class="col-9">
              <i class="bi bi-telegram"></i> {{ telegram_group.name }}
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
