{% load i18n static %}
<div>
  <!-- Footer items (with links)-->
  {% for item  in footer_items %}
    <aside {% if footer_items.count == 3 %}class="col-md-4" {% else %} class="col-md-3" {% endif %}>
      <p>
        <strong>{{ item.display_title }}</strong>
      </p>
      <nav>
        <ul>
          {% for footerlink in item.footerlink_set.all %}
            <li>
              <a href="{{ footerlink.link.url }}?ref=footeritemlink"
                 {% if footerlink.new_tab %}target="_blank"{% endif %}>{{ footerlink.display_title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
  {% endfor %}
  <center class="mt-4">
    <!-- Footer links -->
    <p>
      {% for footerlink in footer_links %}
        <a href="{{ footerlink.link.url }}?ref=footerlink"
           {% if footerlink.new_tab %}target="_blank"{% endif %}>{{ footerlink.display_title }}</a>
        {% if not forloop.last %}{{ request.site.footer_links_separator }}{% endif %}
      {% endfor %}
    </p>
    <!-- Social media links -->
    <p>
      {% for link in social_media_links %}
        {% if link.url %}
          <a href="{{ link.url }}?ref={{ request.get_host }}"
             style="text-decoration: none"
             title="{{ link.platform }}"
             {% if link.new_tab %}target="_blank"{% endif %}>
            <img src='{% static link.static_icon_url %}'
                 alt="{{ link.platform }}"
                 height="32">
          </a>
        {% endif %}
      {% endfor %}
    </p>
    <small>
      <i>&copy; <span x-text="new Date().getFullYear()"></span> {{ request.site.name }}
      </i>
    </small>
    {% if request.site.change_theme_light_in_footer %}
      {% include "elements/theme_light.html" %}
    {% endif %}
    {% if request.site.change_language_in_footer and request.site.language_count > 1 %}
      {% include "elements/change_language.html" %}
    {% endif %}
  </center>
</div>
