{% load i18n %}
<nav>
  <ul>
    <li>
      <strong> <a href="{% url "home" %}">
        {% if site.extendedsite.emoji and site.extendedsite.emoji_in_brand %}{{ site.extendedsite.emoji }}{% endif %}
      {{ site.name }}</a>
    </strong>
  </li>
</ul>
<ul>
  {% for link in navbar_links %}
    <li>
      <a href="{{ link.url }}" class="contrast">{{ link.display_title }}</a>
    </li>
  {% endfor %}
  {% if site.extendedsite.change_theme_light_in_navbar %}
    <li>{% include "elements/theme_light.html" %}</li>
  {% endif %}
  {% if site.extendedsite.change_language_in_navbar %}
    <li>{% include "elements/change_language.html" %}</li>
  {% endif %}
</ul>
</nav>
