{% load i18n %}
<hr>
<nav>
  <ul>
    <li>
      <strong> <a href="{% url "home" %}">
        {% if site.siteprofile.emoji and site.siteprofile.emoji_in_brand %}{{ site.siteprofile.emoji }}{% endif %}
      {{ site.name }}</a>
    </strong>
  </li>
</ul>
<ul>
  {% for link in navbar_links %}
    <li>
      <a href="{{ link.url }}" class="contrast">{{ link.display_title }}</a>
    </li>
  {% endfor %}
  {% if site.siteprofile.change_theme_light_in_navbar %}
    <li>{% include "elements/theme_light.html" %}</li>
  {% endif %}
</ul>
</nav>
<hr>
