{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div>
    <article>
      <header>
        <form class="row"
              hx-ext="ws"
              ws-connect="{{ chat.ws_url }}"
              ws-send
              _="on htmx:wsAfterSend reset() me">
          <textarea class="col-10"
                    type="text"
                    name="message"
                    placeholder="✍ {% trans 'Write something' %}"></textarea>
          <div class="col-2">
            <button>{% trans "Send" %} ➡️</button>
          </div>
        </form>
      </header>
      <div id="lastmessage" hx-swap-oob="beforebegin"></div>
      {% for message in chat_messages %}
        <p>
          <b>{{ message.author.username }}</b>:  {{ message.body }}
        </p>
      {% endfor %}
    </article>
  </div>
{% endblock %}
