{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <article id='chat_container' style="overflow-y: scroll; height:400px;">
    {% for message in chat_messages %}
      <p>
        <b>{{ message.author.username }}</b>:  {{ message.body }}
      </p>
    {% endfor %}
    <div id="lastmessage" hx-swap-oob="beforeend"></div>
  </article>
  <form hx-ext="ws"
        ws-connect="{{ chat.ws_url }}"
        ws-send
        _="on htmx:wsAfterSend reset() me">
    <textarea type="text"
              name="message"
              placeholder="✍ {% trans 'Write something' %}"></textarea>
    <button>Send ➡️</button>
  </form>
{% endblock %}
{% block extra_js %}
  <script>
  function scrollToBottom(time=0) {
      setTimeout(function() {
          const container = document.getElementById('chat_container');
          container.scrollTop = container.scrollHeight;
      }, time);
  }
  scrollToBottom()

  </script>
{% endblock %}
