{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Edit" %}{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-4">
    {% include "candidates/partials/candidate_form.html" %}
  </div>

  <div class="col-md-8" x-data="{openExampleModal : false }">
    <!-- skills -->
    {% include "candidates/partials/skills_edit.html" %}

    <!-- Education -->
    {% include "candidates/partials/education_edit.html" %}

    <!-- Experience -->
    {% include "candidates/partials/experience_edit.html" %}


    <!-- Modals -->
    <dialog x-bind:open="openExampleModal">
      <article>
        <header>
          <button aria-label="Close" rel="prev" x-on:click="openExampleModal = false"></button>
          <h2><i class="bi bi-pencil-square"></i> {% translate "Example modal" %}</h2>
        </header>
        <form >
          <p>Content here</p>
          <button type="submit">{% translate "Save" %}</button>
        </form>
      </article>
    </dialog>

  </div>
</div>

{% endblock content %}
