{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Edit Profile" %}{% endblock %}

{% block content %}

<h1 class="text-center">{% translate "Edit Profile" %}</h1>
<hr>

<h2>{% translate "Curriculum vitae" %}</h2>
<br>

<div class="row">
  <div class="col-md-4">
    {% include "candidates/partials/candidate_photo_form.html" %}
    {% include "candidates/partials/candidate_form.html" %}
  </div>

  <div class="col-md-8" x-data="{openExampleModal : false }">
    <!-- skills -->
    {% include "candidates/partials/skills_edit.html" %}

    <!-- Education -->
    {% include "candidates/partials/education_edit.html" %}

    <!-- Experience -->
    {% include "candidates/partials/experience_edit.html" %}

  </div>
</div>

<hr>

<h2>{% translate "Extra information" %}</h2>
<div>
  {% include "candidates/partials/candidate_extra_form.html" %}
</div>

{% endblock content %}
