{% extends "base.html" %}
{% load humanize i18n %}

{% block head_title %}
{{ candidate.full_name }} - {{ candidate.job_title }}
{% endblock head_title %}

{% block content %}

{% if user.is_superuser %}
  <h2>{% translate "Superuser actions" %}</h2>
    <form action="{{ candidate.delete_url }}" method="post">
      {% csrf_token %}
      <small>
        <button><i class="bi bi-trash"></i> {% translate "Delete" %}</a></button>
      </small>
    </form>
{% endif %}

<h1 class="text-center"> {{ candidate.full_name }} - {{ candidate.job_title }}    </h1>
{% if candidate.user == request.user %}
  <small class="text-center"> <a href="{{ candidate.edit_url }}"><i class="bi bi-pencil-square"></i> {% translate "Edit" %}</a></small>
{% endif %}

<section id="candidate_cvs">
  <h2> {% translate "My CVs" %}</h2>
  <div class="row mt-5">
  {% for cv in cvs %}
    <div class="col-md-4">
      <article {% if section.card_animation %} {% include "snippets/animation_attrs.html" with animation=section.card_animation %} {% endif %}>
        <h3>
          {{ cv.get_template_display }}
        </h3>
        <img src="{{ cv.cv_image.url }}" alt="">
        <footer>
          <a class="text-center" target="_blank" role="button" href="{{ cv.cv_pdf.url }}">{% translate "Download" %}</a>
          <br>
          <small class="text-center"><i>{% translate "Updated" %}  {{ cv.updated_at|naturaltime }}</i></small>
        </footer>

      </article>
    </div>
  {% endfor %}
  </div>
</section>
{% endblock content %}
